################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/
/src/bin/Debug/net8.0/
/src/obj/Release/net8.0/
/src/obj/Debug/net8.0/

